# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Aula**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

#**Exercícios**

## 1\. Google Colab

* Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá, Mundo!")

Olá, Mundo!

* Crie uma célua de texto e adicione uma imagem.

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

### **2. Números**

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | (A)                | 3                |320.52|
| 20/01 | 834.47             | (B)              |119.21|
| 23/01 | 15378.12           | 5                |(C)|

Como calcular o **Valor Total Vendas (A)**?</br>
É a Quantidade Total de Vendas multiplicado pelo Ticket Médio. (resposta no código abaixo)

In [ ]:
qtd_total_vendas = 3
ticket_medio = 320.52
valor_total_vendas = qtd_total_vendas * ticket_medio

print("Valor Total de Vendas é de: R$", valor_total_vendas)

Valor Total de Vendas é de: R$ 961.56

**Como calcular a Qtd Total Vendas (B)?**</br>
É o Valor Total de Vendas dividido pelo Ticket Médio. (resposta no código abaixo)

In [ ]:
valor_total_vendas = 834.47
ticket_medio = 119.21
qtd_total_vendas = valor_total_vendas / ticket_medio

print("A quantidade Total de Vendas é de: R$", qtd_total_vendas)

A quantidade Total de Vendas é de: R$ 7.000000000000001

**Como calcular o Ticket Medio (C)?**</br>
É o Valor Total de Vendas dividido pela Quantidade de Vendas.

In [ ]:
valor_total_vendas = 15378.12
qtd_total_vendas = 5
ticket_medio = valor_total_vendas / qtd_total_vendas

print("Ticket Médio é de: R$", ticket_medio)

Ticket Médio é de: R$ 3075.6240000000003

### **3. Strings**

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste <a href="https://www.w3schools.com/python/python_ref_string.asp" class="post-title"> link:</a>

In [1]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

texto_maiusculo = cancao.upper()
print(texto_maiusculo)

converte_strings_em_letras_minusculas = cancao.casefold()
print(converte_strings_em_letras_minusculas)

texto_substituido = cancao.replace('Roda', 'Gira')
print(texto_substituido)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
roda mundo, roda gigante, roda moinho, roda pião.
Gira mundo, roda gigante, roda moinho, roda pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel ano. Imprima os valores na tela.

In [ ]:
noticia = '''
Selic vai a 2,75% e supera expectativas; 
é a primeira alta em 6 anos.
'''
selic = noticia[13:17]
print("O valor da selic é:", selic)

ano = noticia[64:66]
print("O valor ano é:", ano)

O valor da selic é: 2,75
O valor ano é: 6

### **4. Boleanos**

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [3]:
a = False
b = True

x = not a & b
print(x)

True